@page "/"

<PageTitle>University Managment</PageTitle>

<div class="w-100 h-auto flex-column">
    <NavLink href="/address/form" class="nav-tab" Match="NavLinkMatch.All">
        <button class="btn-success py-2 px-4 rounded-3 border-0">Add Address</button>
    </NavLink>
    <NavLink href="/student/form" class="nav-tab" Match="NavLinkMatch.All">
        <button class="btn-success py-2 px-4 rounded-3 border-0">Add Student</button>
    </NavLink>
    <NavLink href="/professor/form" class="nav-tab" Match="NavLinkMatch.All">
        <button class="btn-success py-2 px-4 rounded-3 border-0">Add Professor</button>
    </NavLink>
</div>
