@page "/professor/form"

<PageTitle>Professor Form</PageTitle>

@using Microsoft.AspNetCore.Mvc

<h1>Add Professor</h1>

<p>This component add a new Professor to the database.</p>

<form class="form-control">
    <div class="w-100 row">
        <div class="col input-group my-2 flex-column w-50">
            <input type="text" placeholder="Name" class="input-group-lg bg-dark bg-opacity-25 p-2 my-1 border-0 rounded-3" />
            <input type="tel" placeholder="PhoneNumber" class="input-group-lg bg-dark bg-opacity-25 p-2 my-1 border-0 rounded-3" />
            <input type="email" placeholder="Email" class="input-group-lg bg-dark bg-opacity-25 p-2 my-1 border-0 rounded-3" />
        </div>
        <div class="col input-group my-2 flex-column w-50">
            <input type="text" placeholder="Address" class="input-group-lg bg-dark bg-opacity-25 p-2 my-1 border-0 rounded-3" />
            <input type="number" placeholder="Salary" class="input-group-lg bg-dark bg-opacity-25 p-2 my-1 border-0 rounded-3" />
        </div>
    </div>
    <div class="w-100 d-flex justify-content-end">
        <div class="btn-group my-2 w-50 d-flex justify-content-end">
            <button class="btn btn-primary py-1 px-4 rounded-3 border-0 mx-2">Add</button>
            <button class="btn btn-danger py-1 px-4 rounded-3 border-0 mx-2">Cancel</button>
        </div>
    </div>
</form>

@code {
    //
}
