@page "/student/form"
@using Microsoft.AspNetCore.Mvc

<PageTitle>Student Form</PageTitle>

<h1>Add Student</h1>

<p>This component add a new Student to the database.</p>

<form class="form-control">
    <div class="w-100 row">
        <div class="col input-group my-2 flex-column w-50">
            <input type="text" placeholder="Name" class="input-group-lg bg-dark bg-opacity-25 p-2 my-1 border-0 rounded-3" />
            <input type="tel" placeholder="PhoneNumber" class="input-group-lg bg-dark bg-opacity-25 p-2 my-1 border-0 rounded-3" />
            <input type="email" placeholder="Email" class="input-group-lg bg-dark bg-opacity-25 p-2 my-1 border-0 rounded-3" />
        </div>
        <div class="col input-group my-2 flex-column w-50">
            <input type="text" placeholder="Address" class="input-group-lg bg-dark bg-opacity-25 p-2 my-1 border-0 rounded-3" />
            <input type="number" placeholder="StudentNumber" class="input-group-lg bg-dark bg-opacity-25 p-2 my-1 border-0 rounded-3" />
            <input type="number" placeholder="AverageMark" class="input-group-lg bg-dark bg-opacity-25 p-2 my-1 border-0 rounded-3" />
        </div>
    </div>
    <div class="w-100 d-flex justify-content-end">
        <div class="btn-group my-2 w-50 d-flex justify-content-end">
            <NavLink href="/fetchdata/student" class="btn-group w-50 d-flex justify-content-end" Match="NavLinkMatch.All">
                <button class="btn btn-primary py-1 px-4 rounded-3 border-0 mx-2">Add</button>
            </NavLink>
            <NavLink href="/fetchdata/student" class="btn-group w-50 d-flex justify-content-end" Match="NavLinkMatch.All">
                <button class="btn btn-danger py-1 px-4 rounded-3 border-0 mx-2">Cancel</button>
            </NavLink>
        </div>
    </div>
</form>

@code {
    //
}
