@inherits LayoutComponentBase

<PageTitle>University.Frontend</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4 bg-body">
            <NavMenu />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
