<div class="container bg-body h-100" @onclick="ToggleNavMenu">
    <nav class="container w-100 h-100 pt-1 d-flex justify-content-start">
        <div class="nav-item d-flex align-middle">
        </div>
        <div class="nav-item d-flex align-middle">
            <NavLink class="nav-link" href="">
                <span class="oi oi-home" aria-hidden="true"></span> Home
                @*<span class="oi oi-map-marker" aria-hidden="true"></span> Address*@
            </NavLink>
        </div>
        <div class="nav-item d-flex align-middle">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-map-marker" aria-hidden="true"></span> Address
            </NavLink>
        </div>
        <div class="nav-item d-flex align-middle">
            <NavLink class="nav-link" href="fetchdata/student">
                <span class="oi oi-person" aria-hidden="true"></span> Students
            </NavLink>
        </div>
        <div class="nav-item d-flex align-middle">
            <NavLink class="nav-link" href="fetchdata/professor">
                <span class="oi oi-person" aria-hidden="true"></span> Professors
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
